##################################
#         Application  
##################################
DEFAULT_URI=http://localhost
APP_NAME=Roadie
APP_ENV=dev
APP_DEBUG=1
APP_SECRET=854d9f9f104c8c1b58c2622fd0506db9
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
CORS_ALLOW_ORIGIN='^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$'

##################################
#         DATABASE  
##################################
DB_NAME=roadie
DB_USER=app
DB_PASSWORD=!ChangeMe!
DB_PORT=5432
DB_HOST=database
DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?serverVersion=16&charset=utf8"