##################################
#         Application  
##################################
DEFAULT_URI=http://localhost
APP_NAME=Roadie
APP_ENV=dev
APP_DEBUG=1
MESSENGER_TRANSPORT_DSN=doctrine://default?auto_setup=0
CORS_ALLOW_ORIGIN='^https?://(localhost|127\.0\.0\.1)(:[0-9]+)?$'

##################################
#         DATABASE  
##################################
DATABASE_URL="postgresql://${DB_USER}:${DB_PASSWORD}@database:${DB_PORT}/${DB_NAME}?serverVersion=16&charset=utf8"